* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    background-color: rgb(44, 44, 44);
}

#wrapper {
    max-width: 1280px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}


/* ------------------------------------HEADER & NAV */
#wrapper header {
    grid-column: 1/-1;
    grid-row: 1/2;

    height: 150px;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0));
    z-index: 100;

    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 16fr 1fr;
    grid-template-rows: 1fr;

    position: sticky;
    top: 0;
    left: 0;
}

#wrapper header #whiteblur {

    width: 70%;
    background-color: white;
    border-radius: 100%;
    filter: blur(15px);
    grid-column: 2/3;
    grid-row: 1/-1;


}


#wrapper header a#logolink {

    z-index: 110;
    grid-column: 2/3;
    grid-row: 1/-1;


}

#wrapper header a img {
    padding-top: 10px;
    width: 70%;
    z-index: 110;
    grid-column: 2/3;
    grid-row: 1/-1;

}


#wrapper header nav {
    grid-column: 4/5;
    grid-row: 1/-1;
    padding-top: 10px;
}


#wrapper header nav ul {
    display: flex;
    justify-content: space-between;

}

#wrapper header nav ul li {
    list-style: none;
}



#wrapper header nav ul li a {
    text-decoration: none;
    color: #ff0;
    font-size: 28px;

    padding: 40px;
    transition: 0.2s;
}

#wrapper header nav ul li a:hover {
    text-decoration: none;
    color: #ff0;
    font-size: 38px;

    padding: 40px;
}

/* -------------------------------------------LANDINGPAGE */
#wrapper #landing {

    height: 100vh;
    grid-column: 1/-1;
    grid-row: 1/3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 30% 1fr;

    background-image: url(../assets/gfx/landing.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}


#wrapper #landing img {
    height: 100vh;
    width: 100%;
    display: block;
    grid-column: 1/-1;
    grid-row: 1/-1;

    object-fit: cover;


}

#wrapper #landing #hgradiant {
    grid-column: 1/-1;
    grid-row: 2/3;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));

}

#wrapper #landing h1 {
    opacity: 0;
    grid-column: 1/-1;
    grid-row: 2/3;
    color: yellow;
    text-align: center;
    font-size: 120px;
    margin-top: 70px;
    letter-spacing: 10px;
    animation: fadeind 3s linear forwards;


}


#wrapper #landing h1 span {

    display:block;  
    color: yellow;
    text-align: center;
    font-size: 60px;
    letter-spacing: 10px;
    animation: fadeind 3s linear forwards;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));



}




#wrapper #landing h2 {
    opacity: 0;
    grid-column: 1/-1;
    grid-row: 1/3;
    color: yellow;
    text-align: center;
    font-size: 120px;
    margin-top: 170px;
    letter-spacing: 10px;
    animation: fadefadetekst 5s linear forwards;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    


}

@keyframes fadeind {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadefadetekst {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* ----------------------------------------------------------INFO */

#wrapper #info {

    grid-column: 1/-1;
    grid-row: 3/4;


    display: grid;
    grid-template-columns: 65% 30% 1fr;
    grid-template-rows: 15% 60% 1fr;

}

#wrapper #info img {

    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;


}

#wrapper #info #infobox {

    grid-column: 2/3;
    grid-row: 2/3;

    background-color: #363636;
    border: 5px solid #ff0;

}

#wrapper #info #infobox p {
    color: yellow;
    font-size: 24px;
    padding: 20px;
}

#wrapper #info #infobox p span {
    display: block;
    margin-bottom: 20px;
}

/* ------------------------------------------------------------Design section */
/* sectioner hvor du kan sammensætte din egen rejse. */

#wrapper #design {

    grid-column: 1/-1;
    grid-row: 4/5;

    background-color: #737373;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 100px 600px 100px 1fr 600px 1fr;
}

#wrapper #design #designtop {

    grid-column: 1/-1;
    grid-row: 1/2;

    color: #ff0;
    background-color: black;

    text-align: center; 
    font-size: 36px;
    padding-top: 10px;
    padding-left: 50px;
}

/* ------------------ Hotel */

#wrapper #design #chosehotel {

    grid-column: 1/-1;
    grid-row: 2/3;

    color: #ff0;
    background-color: black;

    font-size: 30px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: right;

    padding: 10px;
    padding-right: 30px;
}

#wrapper #design #selecthotel {
    grid-column: 1/-1;
    grid-row: 3/4;

    display: flex;
    justify-content: space-between;

    color: #ff0;
    text-align: center;
    font-size: 22px;

    margin: 10px;
}

#wrapper #design #chosehotel a {

    font-size:20px;
    color: #ff0;
 


}

#wrapper #design #chosehotel a:hover {

    font-style: italic
}

#wrapper #design #selecthotel img {
    padding: 25px;
    width: 400px;
    height: 350px;
    transition: 1s;
}

#wrapper #design #selecthotel img:hover {

    width: 450px;
    height: 400px;
}


#wrapper #design #selecthotel span {
    display: block;
    font-size: 32px;
}


#wrapper #design #selecthotel #hotelone {
    border: 5px solid #ff0;
    background-color: #464646;

}

#wrapper #design #selecthotel #hoteltwo {
    border: 5px solid #ff0;
    background-color: #464646;
}

#wrapper #design #selecthotel #hotelthree {
    border: 5px solid #ff0;
    background-color: #464646;

}

#wrapper #design #selecthotel .italic {
    font-style: italic;
    font-size: 24px;
}


#wrapper #design #selecthotel a {
    color: #ff0;
    text-decoration: none;
}

#wrapper #design #selecthotel a:hover {
    color: #ff0;
    text-decoration: underline;
}


#wrapper #design #selecthotel form {
    text-align: right;
    margin-right: 20px;
}

#wrapper #design #selecthotel form button {
    background-color: #464646;
    color: #ff0;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    transition: 1s;
}

#wrapper #design #selecthotel form button:hover {
    background-color: #464646;
    color: #ff0;
    font-size: 25px;
    padding: 20px;
    margin: 5px;
}

/* -----------------Event */


#wrapper #design #eventbanner {

    grid-column: 1/-1;
    grid-row: 5/6;

    color: #ff0;
    background-color: black;

    font-size: 30px;

    margin-left: 30px;
    margin-right: 200px;
    margin-bottom: 20px;
    text-align: left;

    padding: 10px;
    padding-right: 30px;
}

#wrapper #design #eventbanner a {

    font-size:20px;
    color: #ff0;



}

#wrapper #design #eventbanner a:hover {


    font-style: italic
}

#wrapper #design #choseevent {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    grid-row: 6/7;
    margin: 10px;

    color: #ff0;
    text-align: center;
    font-size: 22px;
}

#wrapper #design #choseevent img {
    padding: 25px;
    width: 400px;
    height: 350px;
    transition: 1s;
}


#wrapper #design #choseevent img:hover {

    width: 450px;
    height: 400px;
}




#wrapper #design #choseevent span {
    display: block;
    font-size: 32px;
}


#wrapper #design #choseevent #eventone {
    border: 5px solid #ff0;
    background-color: #464646;

}

#wrapper #design #choseevent #eventtwo {
    border: 5px solid #ff0;
    background-color: #464646;
}

#wrapper #design #choseevent #eventhree {
    border: 5px solid #ff0;
    background-color: #464646;

}

#wrapper #design #choseevent .italic {
    font-style: italic;
    font-size: 24px;
}


#wrapper #design #choseevent a {
    color: #ff0;
    text-decoration: none;
}

#wrapper #design #choseevent a:hover {
    color: #ff0;
    text-decoration: underline;
}


#wrapper #design #choseevent form {
    text-align: right;
    margin-right: 20px;
}

#wrapper #design #choseevent form button {
    background-color: #464646;
    color: #ff0;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    transition: 1s;
}


#wrapper #design #choseevent form button:hover {
    background-color: #464646;
    color: #ff0;
    font-size: 25px;
    padding: 20px;
    margin: 5px;
}



/* -------------------------------------------------------pakkerejser */

#wrapper #pakkerejser {

    grid-column: 1/-1;
    grid-row: 5/6;

    background-color: #737373;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 800px 100px;
}



#wrapper #pakkerejser #pakkerejserinfo {
    grid-column: 1/-1;
    grid-row: 1/2;
    color: #ff0;
    background-color: black;

    font-size: 24px;
    padding-left: 100px;
    padding-top: 10px;

}

#wrapper #pakkerejser #pakkerejserinfo a {

    font-size:20px;
    color: #ff0;



}

#wrapper #pakkerejser #pakkerejserinfo a:hover {

    font-style: italic
}

#wrapper #pakkerejser #completechoises {
    grid-column: 1/-1;
    grid-row: 2/3;
    background-color: #4e4e4e;


    margin: 20px;
    margin-top: 50px;

    Color: #ff0;
    text-align: center;
    font-size: 38px;

}


#wrapper #pakkerejser #completechoises p {
    margin-top: 10px;
}

#wrapper #pakkerejser #completechoises span {
    display: block;
    font-size: 28px;

}

#wrapper #pakkerejser #completechoises #flexbox {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#wrapper #pakkerejser #completechoises img {

    width: 400px;
    height: 350px;
}






#wrapper #pakkerejser #completechoises #completeone {
    border: 3px solid #ff0;
    background-color: #464646;
    margin: 5px;
}

#wrapper #pakkerejser #completechoises #completetwo {
    border: 3px solid #ff0;
    background-color: #464646;
    margin: 5px;
}


#wrapper #pakkerejser #completechoises #completethree {
    border: 3px solid #ff0;
    background-color: #464646;
    margin: 5px;
}



#wrapper #pakkerejser #completechoises a {
    color: #ff0;
    text-decoration: none;
}

#wrapper #pakkerejser #completechoises a:hover {
    color: #ff0;
    text-decoration: underline;
}





#wrapper #pakkerejser #completechoises form {
    text-align: right;
    margin-right: 20px;
}

#wrapper #pakkerejser #completechoises form button {
    background-color: #464646;
    color: #ff0;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    transition: 1s;
}

#wrapper #pakkerejser #completechoises form button:hover {
    background-color: #464646;
    color: #ff0;
    font-size: 25px;
    padding: 20px;
    margin: 5px;
}


#wrapper #pakkerejser #completechoises #flexbox p {
    font-size: 22px;
}

#wrapper #pakkerejser #completechoises #flexbox span {
    display: block;
    font-size: 32px;
}

#wrapper #pakkerejser #completechoises #flexbox .italic {
    font-style: italic;
    font-size: 24px;
}


/* --------------------------------------------------LINKS */


#wrapper #link {

    grid-column: 1/-1;
    grid-row: 6/7;

    background-color: #737373;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 600px 100px;
}


#wrapper #link #linkheader {

    grid-column: 1/-1;
    grid-row: 1/2;

    background-color: black;
    color: #ff0;
    text-align: center;
    font-size: 32px;
    letter-spacing: 5px;
}

#wrapper #link #linkimgcollection {
    grid-column: 1/-1;
    grid-row: 3/-1;

    display: flex;
}

#wrapper #link #linkimgcollection figure {
    width: 33.33%;
    position: relative;
    overflow: hidden;
    z-index: 20;
    transition: 0.2s;
}


#wrapper #link #linkimgcollection figure:hover {
    width: 40%;
    position: relative;
    overflow: hidden;

    z-index: 30;
    -webkit-box-shadow: 0px 0px 73px 43px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 73px 43px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 73px 43px rgba(0, 0, 0, 0.75);
}


#wrapper #link #linkimgcollection figure figcaption {
    position: absolute;
    top: 0%;
    left: -300%;
    color: #ff0;

    transition: 0.5s;

}

#wrapper #link #linkimgcollection figure:hover figcaption {
    position: absolute;
    top: 30%;
    left: 50%;

    font-size: 28px;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.568);
    padding: 30px;
    border: 3px solid gainsboro;
}


#wrapper #link #linkimgcollection figure img {
    width: 100%;
    height: 100%;
}


/* ----------------------------------------------------FOOTER */


#wrapper footer {

    padding-top: 50px;
    grid-column: 1/-1;
    grid-row: 7/8;

    background-color: #484848;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}


#wrapper footer #additionallink {

    grid-column: 1/2;
    grid-row: 1/-1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;


}

#wrapper footer #additionallink ul {

    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
}

#wrapper footer #additionallink ul li {

    list-style: none;
    margin-top: 10px;
    margin-left: 50px;
}

#wrapper footer #additionallink ul li a {

    text-decoration: none;
    color: #ff0;
    font-size: 28px;
    transition: 0.2s;
}

#wrapper footer #additionallink ul li a:hover {

    text-decoration: none;
    color: #ff0;
    font-size: 36px;
}



#wrapper footer #additionallink figure {
    grid-column: 1/-1;
    grid-row: 2/-1;
    margin-left: 50px;
    margin-top: 10px;

}



#wrapper footer #form {
    margin-top: 10px;
    grid-column: 2/-1;
    grid-row: 1/-1;
    margin-bottom: 30px;
}

#wrapper footer #form h2 {
    color: #ff0;
    margin-left: 5px;
}

#wrapper footer #form input {
    display: block;
    margin: 5px;

    width: 80%;
    height: 30px;
}


#wrapper footer #form button {
    margin-left: 70%;
    padding: 5px;
}